#                                       <<<<< WELCOME TO THE REQUIREMENTS PANEL >>>>>>>>

#                     HERE YOU WILL KNOW ALL THE MODULES OR DEPENDENCIES YOU NEED TO INSTALL VIA CANTROL PANEL


#   NB: YOU CAN SIMPLY COPY AND PASTE THESE IN THE CONTROL PANEL AND PRESS ENTER AND IT WILL INSALL 
#   OR CHECK https://python.org FOR THE LATEST VERSION OF THESE  


  pip install pyttsx3                    # THIS IS THE TEXT TO SPEECH MODULE FROM PYTHON 
  pip install SpeechRecognition          # THIS IS THE SPEECH RECOGNITION MODULE FROM PYTHON 
  pip install pyjokes                    # THIS IS THE PYTHON JOKES MODULE IT TELLS ONLY CODING JOKES I THINK 
  pip install pywhatkit                  # THIS MODULE GIVES YOU ACCESS TO PLAY ANYTHING ON YOUTUBE BUT ITS BEST IF YOU ONLY CHOOSE SONGS
  pip install wikipedia                  # THIS MODULE GIVES ACCESS TO ALL THE INFORMATION ON WIKIPEDIA 
